<div class="nested-fields">
  <div class="field">
    <%= f.label :name, 'スポット名' %><br>
    <%= f.text_field :name %>
  </div>

  <div class="input-group mb-3 mt-4">
    <div class="input-group-prepend">
      <span class="input-group-text" aria-hidden="true"><i class="fa-solid fa-location-dot"></i></span>
    </div>
    <%= f.text_field :address, class: "form-control", placeholder: "住所" %>
  </div>

  <div class="field">
    <%= f.label :images, '写真(複数まとめて選択OK)' %><br>
    <%= f.file_field :images, multiple: true %>

    <% if f.object.images.attached? %>
      <p class="mt-2">投稿済みの写真:</p>
      <% f.object.images.each do |image| %>
        <div class="mb-2">
          <%= image_tag image.variant(resize_to_limit: [150, 150]) %>
          <%= link_to "×削除", spot_spot_image_path(f.object.id, image.id), 
                      method: :delete, 
                      data: { confirm: "この画像を削除しますか？" }, 
                      class: "text-danger ms-2" %>
        </div>
      <% end %>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :staying_start, '滞在日時' %><br>
    <%= f.datetime_select :staying_start %>
      <span>~</span>
    <%= f.datetime_select :staying_end %>
  </div>

  
  <div class="field">
    <%= f.label :visit_order, 'スポット訪問順' %><br>
    <%= f.number_field :visit_order, min: 1 %>
  </div>


  <div class="field">
    <%= f.label :explanation, 'スポットについて' %><br>
    <%= f.text_area :explanation %>
  </div>

  <div id="routes">
    <%= f.fields_for :routes do |route_form| %>
      <%= render 'route_fields', f: route_form %>
    <% end %>
    <div class="links">
      <%= link_to_add_association '道追加', f, :routes, class: 'btn btn-outline-info btn-sm mb-1' %>
    </div>
  </div>

  <div class="actions">
   <%= link_to_remove_association 'スポット削除', f, class: 'btn btn-outline-danger btn-sm mb-2' %>
  </div>
</div>
