<div class="container-fluid mt-4 d-flex justify-content-end pe-5">
  <%= render 'public/searches/search' %>
</div>

<div class="container mt-5">
  <h2 class="mb-4">
    <i class="fa-solid fa-person-walking-luggage"></i> プラン一覧
  </h2>

  <div class="row">
    <% @plans.each do |plan| %>
      <div class="col-md-4 mb-3">
        <%= link_to plan_path(plan), class: 'text-dark text-decoration-none' do %>
          <div class="card hover-card h-100">
            <div class="card-body text-center">
              <h6 class="card-title"><%= plan.title %></h6>
              <p class="card-text text-muted small">
                <i class="fa-regular fa-comment fa-flip-horizontal"></i>:<%= plan.comments.count %>
              </p>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>

  <div class="mt-5">
    <%= link_to 'ユーザー一覧', users_path, class: 'btn btn-outline-secondary btn-sm' %>
  </div>

</div>
