<div class="container mt-5">
  <p id="notice"><%= notice %></p>

  <h2><i class="fa-solid fa-book-atlas"></i>旅行プラン</h2>

  <p>
    <h4><strong>【<%= @plan.title %>】</strong></h4>
  </p>

  <p>
    投稿者: <%= link_to @plan.user.name, user_path(@plan.user) %>
  </p>

  <!-- レビュー -->

  <p>
    旅行日:
    <%= @plan.start_date %>
    <span>~</span>
    <%= @plan.end_date %>
  </p>

  <% if @plan.body.present? %>
    <i class="fa-regular fa-message fa-flip-horizontal"></i>:<%= @plan.body %>
  <% end %>


  <% @plan.spots.order(:visit_order).each do |spot| %>
    <div class="spot my-4">
      <h4><i class="fa-solid fa-location-dot"></i>: <%= spot.name %></h4>
        <% if spot.images.attached? %>
          <div class="row">
            <% spot.images.each do |image| %>
              <div class="m-3">
                <%= image_tag image.variant(resize_to_limit: [400, 300]) %>
              </div>
            <% end %>
          </div>
        <% end %>
      <p><% if spot.explanation.present? %>
           <i class="fa-regular fa-message fa-flip-horizontal"></i>: <%= spot.explanation %>
         <% end %>
      </p>
      <p><i class="fa-solid fa-clock"></i>: <%= l(spot.staying_start, format: :short) %> ~ <%= l(spot.staying_end, format: :short) %></p>

      <p>
        <%= link_to spot_path(spot),class: "text-blue-500" do %>
           <i class="fa-solid fa-map-location-dot"></i> <%= spot.address %>
        <% end %>
      </p> 


      <% spot.routes.order(:visit_order).each do |route| %>
        <p>出発地: <%= route.departure %> → 到着地: <%= route.arrival %></p>
        <p>移動方法: <%= t("enums.route.transportation.#{route.transportation}") %></p>
        <p>移動時間: <%= route.travel_time %>分</p> 
          <% if route.description.present? %>
            <i class="fa-regular fa-message fa-flip-horizontal"></i>: <%= route.description %>
          <% end %>
      <% end %>
    </div>
  <% end %>

<div>
  <p><i class="fa-regular fa-comment fa-flip-horizontal"></i> コメント件数：<%= @plan.comments.count %></p>

    <% @plan.comments.each do |comment| %>
      <div class="mb-4 p-3 border rounded">
        <div class="d-flex align-items-start">
          <div class="me-3">
            <%= image_tag comment.user.get_profile_image(50, 50), class: "rounded-circle" %>
          </div>

          <div>
            <div class="fw-bold"><%= comment.user.name %></div>
            <div class="text-muted small"><%= comment.created_at.strftime('%Y/%m/%d') %></div>
           </div>
        </div>

        <div class="mt-2 d-flex justify-content-between align-items-start">
          <p class="mb-1"><%= comment.text %></p>

          <% if comment.user == current_user %>
            <%= link_to "削除", plan_comment_path(comment.plan, comment), method: :delete, data: { confirm: "本当に削除しますか？" }, class: "btn btn-sm btn-outline-danger ms-3 " %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>


  <div class="text-end">
    <%= form_with model: [@plan, @comment], local: true do |f| %>
      <%= f.text_area :text, rows: '5', placeholder: "コメントを投稿しよう！", required: true, class: 'form-control mb-2' %>
      <%= f.submit "送信する", class: 'btn btn-outline-secondary btn-sm' %>
    <% end %>
  </div>

  <% if @plan.user == current_user %>
    <%= link_to 'プラン編集', edit_plan_path(@plan), class: 'btn btn-outline-secondary btn-sm mt-5' %> 
  <% end %>
    <%= link_to 'プラン一覧', plans_path, class: 'btn btn-outline-secondary btn-sm mt-5' %>
</div>