<div class="container mt-5">
  <h2>ユーザー情報編集</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "public/users/shared/error_messages", resource: resource %>

    <div class="field">
      <%= f.label :name, "名前" %><br>
      <%= f.text_field :name, autofocus: true %>
    </div>

    <div class="field">
      <%= f.label :profile_image, "プロフィール画像" %><br>
      <%= f.file_field :profile_image, accept: "image/*" %>
    </div>

    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autocomplete: "email" %>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="field">
      <%= f.label :password %> <i>(<%= t("views.leave_blank_if_you_don't_want_to_change_it")%>)</i><br />
      <%= f.password_field :password, autocomplete: "new-password" %>
      <% if @minimum_password_length %>
        <br />
        <em>(<%= @minimum_password_length %><%= t("views.characters_minimum")%>)</em>
      <% end %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
    </div>

    <div class="field">
      <%= f.label :current_password %> <i>(<%= t("views.we_need_your_current_password_to_confirm_your_changes")%>)</i><br />
      <%= f.password_field :current_password, autocomplete: "current-password" %>
    </div>

    <div class="actions">
      <%= f.submit "変更保存", class: 'btn btn-info m-3' %>
    </div>
  <% end %>

<h4><i class="fa-solid fa-user-xmark"></i>アカウント削除</h4>

<div>退会をご希望ですか？<%= button_to "退会する", registration_path(resource_name), data: { confirm: "本当に退会しますか?", turbo_confirm: "本当に退会しますか" }, method: :delete, class: 'btn-danger mb-2' %></div>

<%= link_to "Back", :back, class: 'btn btn-outline-secondary btn-sm' %>
</div>