<% if user_signed_in? %>
  <div>
    <%= form_with url: search_path, local: true, method: :get do |f| %>
      <%= f.text_field :word %>
      <%= f.select :range, options_for_select([['User'], ['Plan']]), {},class: 'form-select form-select-sm text-secondary bg-light rounded' %>
      <!-- UserかPlanを選択するセレクトボックス --!>
      <%= f.select :search, options_for_select([["完全一致","perfect_match"], ["前方一致","forward_match"], ["後方一致","backward_match"], ["部分一致","partial_match"]]), {}, class: 'form-select form-select-sm text-secondary bg-light rounded' %>
      <!-- 検索方法セレクト --!>
      <%= f.submit "検索", class: 'btn btn-outline-secondary btn-sm' %>
    <% end %>
  </div>
<% end %>

