<h1><%= @user == current_user ? "マイページ" : "#{@user.name}さんのページ" %></h1>

<div>
  <h3><%= @user.name %></h3>
  <%= image_tag @user.get_profile_image(100,100) %>
  <% if @user == current_user %>
    <p><%= link_to "Edit Profile", edit_user_registration_path %></p>
  <% end %>
</div>

<h2>投稿プラン一覧</h2>

<% @plans.each do |plan| %>
  <div>
    <h4><%= link_to plan.title, plan_path(plan) %></h4>
  </div>
<% end %>
