<div class="container">
  <div id="map"></div>
</div>

<!-- js部分 -->
<script>
//初期マップの設定
let map
let marker
function initMap(){
  geocoder = new google.maps.Geocoder()

  map = new google.maps.Map(document.getElementById('map'), {
    center:  {lat: <%= @spot.latitude %>, lng: <%= @spot.longitude %>},
    zoom: 15,
  });

   marker = new google.maps.Marker({
    position:  {lat: <%= @spot.latitude %>, lng: <%= @spot.longitude %>},
    map: map
  });
}
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['Maps_API_Key'] %>&callback=initMap" async defer></script>