<%= form_with(model: plan, local: true) do |f| %>
  <% if plan.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(plan.errors.count, "error") %> prohibited this plan from being saved:</h2>

      <ul>
        <% plan.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :タイトル %>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :旅行日 %>
      <%= f.date_select :start_date %>
        <span>~</span>
      <%= f.date_select :end_date %>
  </div>

  <div class="field">
    <%= f.label :プランについて %>
    <%= f.text_area :body %>
  </div>

  <div id="spots">
    <%= f.fields_for :spots do |spot_form| %>
      <%= render 'spot_fields', f: spot_form %>
    <% end %>
    <div class="links">
      <%= link_to_add_association 'Add Spot', f, :spots %>
    </div>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
