<%= form_with(model: plan, local: true, html: { multipart: true } ) do |f| %>
  <% if plan.errors.any? %>
    <div id="error_explanation">
      <h2><%= plan.errors.count %> 件のエラーが発生しています。</h2>

      <ul>
        <% plan.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :start_date, "旅行日" %>
      <%= f.date_select :start_date %>
        <span>~</span>
      <%= f.date_select :end_date %>
  </div>

  <div class="field">
    <%= f.label :body, "プランについて" %>
    <%= f.text_area :body %>
  </div>

  <div id="spots_form">
    <%= f.fields_for :spots do |spot_form| %>
      <%= render 'spot_fields', f: spot_form %>
    <% end %>
  </div>
  <div class="links">
    <%= link_to_add_association 'スポット追加', f, :spots
    %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
