<div class="nested_fields">

  <div class="field">
    <%= f.label :departure, '出発地' %>
    <%= f.text_field :departure %>
  </div>

  <div class="field">
    <%= f.label :arrival, '到着地' %>
    <%= f.text_field :arrival %>
  </div>

  <div class="field">
  <%= f.label :travel_time, '移動時間' %>
  <%= f.number_field :travel_time %>分
  </div>

  <div class="field">
  <%= f.label :transportation, '移動方法' %>
  <%= f.number_field :transportation %>
  </div>  

  <div class="field">
  <%= f.label :visit_order, '順番' %>
  <%= f.number_field :visit_order %>
  </div>

  <div class="field">
  <%= f.label :description, 'ルートについて' %>
  <%= f.text_field :description %>
  </div>

  <div class ="links">
    <%= link_to_remove_association "Delete Route", f %>
  </div>

</div>