<div class="container mt-5">
  <p id="notice"><%= notice %></p>

  <h2><i class="fa-solid fa-book-atlas"></i>旅行プラン</h2>

  <p>
    <h4><strong>【<%= @plan.title %>】</strong></h4>
  </p>

  <p>
    投稿者: <%= link_to @plan.user.name, user_path(@plan.user) %>
  </p>

  <!-- レビュー -->

  <p>
    旅行日:
    <%= @plan.start_date %>
    <span>~</span>
    <%= @plan.end_date %>
  </p>

  <% if @plan.body.present? %>
    <i class="fa-regular fa-comment"></i>:<%= @plan.body %>
  <% end %>


  <% @plan.spots.order(:visit_order).each do |spot| %>
    <div class="spot">
      <p><i class="fa-solid fa-location-dot"></i>: <%= spot.name %></p>
        <% if spot.images.attached? %>
          <div class="row">
            <% spot.images.each do |image| %>
              <div class="m-3">
                <%= image_tag image.variant(resize_to_limit: [400, 300]) %>
              </div>
            <% end %>
          </div>
        <% end %>
      <p><% if spot.explanation.present? %>
           <i class="fa-regular fa-comment"></i>: <%= spot.explanation %>
         <% end %>
      </p>
      <p><i class="fa-solid fa-clock"></i>: <%= l(spot.staying_start, format: :short) %> ~ <%= l(spot.staying_end, format: :short) %></p>

      <p><i class="fa-solid fa-map-location-dot"></i>(緯度軽度用いて)マップ表示予定</p> 


      <% spot.routes.order(:visit_order).each do |route| %>
        <p>出発地: <%= route.departure %> → 到着地: <%= route.arrival %></p>
        <p>移動方法: <%= t("enums.route.transportation.#{route.transportation}") %></p>
        <p>移動時間: <%= route.travel_time %>分</p> 
          <% if route.description.present? %>
            <i class="fa-regular fa-comment"></i>: <%= route.description %>
          <% end %>
        <div style="ms-5">
           <i class="fa-solid fa-angles-down"></i>
        </div>
      <% end %>
    </div>
  <% end %>

  <% if @user == current_user %>
    <%= link_to 'プラン編集', edit_plan_path(@plan), class: 'btn btn-outline-secondary btn-sm' %> |
  <% end %>
    <%= link_to 'プラン一覧', plans_path, class: 'btn btn-outline-secondary btn-sm' %>
</div>