<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @plan.user_id %>
</p>

<h2>旅行Plan</h2>
<p>
  <strong>Title:</strong>
  <%= @plan.title %>
</p>

<p>
  <strong>Review:</strong>
  <%= @plan.review %>
</p>

<p>
  <strong>Date:</strong>
  <%= @plan.start_date %>
  <span>~</span>
  <%= @plan.end_date %>
</p>

<p>
  <strong>Body:</strong>
  <%= @plan.body %>
</p>


<% @plan.spots.order(:visit_order).each do |spot| %>
  <div class="spot">
    <p><strong>スポット名:</strong> <%= spot.name %></p>
    <p><strong>訪問順:</strong> <%= spot.visit_order %></p>
    <p><strong>滞在時間:</strong> <%= l(spot.staying_start, format: :short) %> ~ <%= l(spot.staying_end, format: :short) %></p>
    <p><strong>説明:</strong> <%= spot.explanation %></p>

    <% if spot.image.attached? %>
      <p><strong>画像:</strong><br>
      <%= image_tag spot.image.variant(resize_to_limit: [400, 300]) %></p>
    <% end %>
    
    <% spot.routes.order(:visit_order).each do |route| %>
      <strong><%= route.departure %> → <%= route.arrival %></strong><br>
        移動手段: <%= t("enums.route.transportation.#{route.transportation}") %><br>
        所要時間: <%= route.travel_time %>分<br> 
        説明: <%= route.description %>  
      <% end %>
    <% end %>
    <hr>
  </div>
<% end %>


<%= link_to 'Edit', edit_plan_path(@plan) %> |
<%= link_to 'Back', plans_path %>
