<div class="container mt-5">
  <h3><i class="fa-solid fa-face-smile"></i><%= @user == current_user ? "My page" : "#{@user.name}さんのページ" %></h3>

  <div>
    <h4><%= @user.name %></h4>
    <%= image_tag @user.get_profile_image(200,200) %>

    <% if @user == current_user && !@user.guest_user? %>
      <p><%= link_to "編集", edit_user_registration_path, class: 'btn btn-outline-info my-3' %></p>
    <% end %>
  </div>

  <% if @user == current_user %>
    <%= link_to "新規プラン投稿する", new_plan_path, class: 'btn btn-outline-info mb-3'  %>
  <% end %>
 
  <h4 class= "mt-3"><i class="fa-solid fa-person-walking-luggage"></i>プラン一覧</h4> 

  <div class="row">
    <% @plans.each do |plan| %>
      <div class="col-md-4 mb-3">
        <%= link_to plan_path(plan), class: 'text-dark text-decoration-none' do %>
          <div class="card hover-card h-100">
            <div class="card-body text-center">
              <h6 class="card-title"><%= plan.title %></h6>
              <p class="card-text text-muted small">
                <i class="fa-regular fa-comment fa-flip-horizontal"></i>:<%= plan.comments.count %>
              </p>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>

  
  <div class="mt-5">
    <%= link_to 'ユーザー一覧', users_path, class: 'btn btn-outline-secondary btn-sm' %>  <%= link_to 'プラン一覧', plans_path, class: 'btn btn-outline-secondary btn-sm' %>
  </div>
</div>
