<!DOCTYPE html>
<html>
  <head>
    <title>Travelers</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <%= link_to "Travelers" , root_path %>
      <% if user_signed_in? %>
        <li>
          <%= link_to "My page", mypage_path %>
        </li>
        <li>
          <%= link_to "プラン一覧", plans_path %> 
        </li>
        <li>
          <%= link_to "プラン投稿", new_plan_path %>
        </li>
        <li> 
          <%= link_to "Log out", destroy_user_session_path, method: :delete %>
        </li>
      <% else %>
        <li>
          <%= link_to "About", about_path %>
        </li>
        <li>
          <%= link_to "Sign up", new_user_registration_path %>
        </li>
        <li>
          <%= link_to "Log in", new_user_session_path %>
        </li>
      <% end %>
    </header>
    <main>
      <div>
        <% flash.each do |key,message| %>
          <div class="flash <%= key %>"><%= message %></div>
        <% end %> 
      </div>
      <%= yield %>
    </main>
    <footer>
    </footer>
  </body>
</html>
