<!DOCTYPE html>
<html>
  <head>
    <title>Travelers</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <script src="https://kit.fontawesome.com/dc91daef60.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    
    <header class="shadow-sm">
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="<%= current_user ? user_path(current_user) : root_path %>">
            <%= image_tag('logo.png') %>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
              <% if user_signed_in? %>
                <li>
                  <%= link_to mypage_path, class:'nav-link text-dark' do %>
                    <i class="fa-solid fa-face-smile"></i> My page
                  <% end %>
                </li>
                <li>
                  <%= link_to plans_path, class:'nav-link text-dark' do  %>
                    <i class="fa-solid fa-person-walking-luggage"></i> プラン一覧 
                  <% end %>
                </li>
                <li>
                  <%= link_to new_plan_path, class:'nav-link text-dark',data: {turbolinks: "false"}  do %>
                    <i class="fa-solid fa-pencil"></i> 新規プラン投稿
                  <% end %>
                </li>
                <li>
                  <%= link_to destroy_user_session_path, method: :delete, class:'nav-link text-dark' do %>
                    <i class="fa-solid fa-right-from-bracket"></i> Log out
                  <% end %>
                </li>
              <% else %>
                <li>
                  <%= link_to about_path, class:'nav-link text-dark' do %>
                    <i class="fa-solid fa-link"></i> About
                  <% end %>
                </li>
                <li>
                  <%= link_to users_guest_sign_in_path, method: :post, class:'nav-link text-dark' do %>
                    <i class="fa-solid fa-face-grin-squint"></i> Guest Log in（閲覧用）
                  <% end %>
                </li>
                <li>
                  <%= link_to new_user_registration_path, class:'nav-link text-dark' do %>
                    <i class="fa-solid fa-user-plus"></i> Sign up
                  <% end %>
                </li>
                <li>
                  <%= link_to new_user_session_path, class:'nav-link text-dark' do %>
                    <i class="fa-solid fa-right-to-bracket"></i> Log in
                  <% end %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <main>
      <div>
        <% flash.each do |key,message| %>
          <div class="flash <%= key %>"><%= message %></div>
        <% end %> 
      </div>
      <%= yield %>
    </main>
    <footer>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/jquery-jpostal-ja@2.14.45/jquery.jpostal.min.js"></script>
  </body>
</html>
